@page
@model FizzBuzzWeb.Pages.OstatnioSzukaneModel
@{

}

    <p>Dane w zapisane w sesji</p>
@if (Model.Zmienna != null)
{
    <p>@Model.Zmienna.Liczba </p>
    <p>@Model.Zmienna.Wiadomosc </p>
    
}
